@{

    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}

<main>
    <!-- nav button start -->
    <section>
        <div class="container-fluid">

            <div class="btn-toolbar justify-content-between py-3" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group" role="group" aria-label="First group">

                    <button type="button" class="btn btn-outline-secondary disabled" id="deleteAll" onclick="GetCheckboxAll()">
                        <span>
                            <i class="fa-solid fa-trash-can"></i>
                        </span>
                        <span>Xóa tất cả</span>
                    </button>
                    <button type="button" class="btn btn-outline-secondary" id="templateBtn" data-bs-toggle="modal" data-bs-target="#UpExcelModal">
                        <span>
                            <i class="bi bi-cloud-arrow-down"></i>
                        </span>
                        <span>Tập tin mẫu</span>
                    </button>
                    <button type="button" class="btn btn-outline-secondary">
                        <input type="file" id="excelUpload" onchange=" ModalExcel()" name="excelUpload" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" class="custom-file-upload" />
                        <label for="excelUpload" class="custom-file-upload ">
                            <span>
                                <i class="bi bi-paperclip"></i>
                            </span>
                            <span>Thêm từ biểu mẫu</span>
                        </label>
                    </button>
                    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" id="modal-on"
                            data-bs-target="#staticBackdrop">
                        <span>
                            <i class="bi bi-plus-circle-fill"></i>
                        </span>
                        <span>Thêm người dùng mới</span>
                    </button>
                </div>
                <div class="input-group">
                    <input type="text" name="name" value="" class="rounded border-1" id="searchInput" />
                    <button for="searchInput" id="searchBtn" class="btn btn-outline-secondary" onclick="SearchUser(event)">
                        <span>
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </span>
                        <span>Tìm kiếm</span>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <!-- nav button end  -->
    <div id="tableContainer">
        <!-- table start -->
        @{
            Html.RenderAction("Search", "User", new { page = 1 });

        }
        <!-- table end -->
    </div>

    <!-- content start  -->
    <!-- content end  -->
</main>

<!-- modal start -->
<section>
    <div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title " id="exampleModalLabel">Thông tin tài khoản</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <form action="/Admin/User/save" id="userForm" method="post">
                            <div class="row my-2">
                                <div class="col-12 fw-bold fst-italic">
                                    (*) Thông tin bắt buộc
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-label" for="HoTen">Họ và tên (*)</label>
                                        <input class="form-control" id="HoTen" name="HoTen" type="text" value="">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="UserName">Tên tài khoản (*)</label>
                                        <input class="form-control" data-val="true" data-val-required="Vui lòng nhập tên tài khoản" id="UserName" name="UserName" type="text" value="">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="Password">Password (*)</label>
                                        <input class="form-control" id="Password" name="Password" type="text" value="">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="SDT">Số điện thoại (*)</label>
                                        <input class="form-control" id="SDT" name="SDT" type="text" value="">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="Email">Email (*)</label>
                                        <input class="form-control" id="Email" name="Email" type="text" value="">
                                    </div>
                                </div>
                                <div class="col-lg-6  ">
                                    <div class="form-group">
                                        <label class="form-label" for="MaKieu">Kiểu người dùng (*)</label>
                                        <select id="MaKieu" class="form-select" name="MaKieu">
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="TrangThai">Trạng thái (*)</label>
                                        <select class="form-select" id="TrangThai" name="TrangThai">
                                            <option value="0">Khóa</option>
                                            <option value="1">Mở</option>
                                        </select>
                                    </div>
                                    <div class="text-center">
                                        <label for="AnhDaiDien" class=" fst-italic text-center form-label">
                                            Ảnh đại diện
                                            <i class="icon fa fa-camera border px-2 py-2" id="imgTemp" style="font-size: 200px; display: block;"></i>
                                            <div class="d-flex justify-content-center">
                                                <img id="userImg" src="" alt="" class="w-100 border px-2 py-2" style="display: none;">
                                                <input type="file" id="AnhDaiDien" onchange=" loadFile(event)" name="AnhDaiDien" accept="image/*" class="custom-file-upload">
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown-divider my-4">
                            </div>
                            <div class="row my-2">
                                <div class="col-12 fw-bold fst-italic">
                                    Thông tin người dùng
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-label" for="GioiTinh">Giới tính</label>
                                                    <select class="form-select" id="GioiTinh" name="GioiTinh">
                                                        <option selected hidden value>Chọn giới tính</option>
                                                        <option value="0">Nam</option>
                                                        <option value="1">Nữ</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-label" for="NgaySinh">Ngày sinh</label>
                                                    <input class="form-control" id="NgaySinh" name="NgaySinh" type="date" value="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="DiaChi">Địa chỉ</label>
                                        <input class="form-control" id="DiaChi" name="DiaChi" type="text" value="">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="QueQuan">Quê quán</label>
                                        <input class="form-control" id="QueQuan" name="QueQuan" type="text" value="">
                                    </div>
                                </div>
                                <div class="col-lg-6">

                                    <div class="form-group">
                                        <label class="form-label" for="TieuSu">Tiểu sử</label>
                                        <textarea class="form-control" cols="20" id="TieuSu" name="TieuSu" rows="5"></textarea>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-label" for="CongTy">Công ty</label>
                                                <input class="form-control" id="CongTy" name="CongTy" type="text" value="">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-label" for="ChucVu">Chức vụ</label>
                                                <input class="form-control" id="ChucVu" name="ChucVu" type="text" value="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="submit" form="userForm" class="btn btn-primary">Lưu </button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- modal end -->
<!-- modal start -->
<section>
    <div class="modal fade " id="ExcelModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title " id="exampleModalLabel">Thông tin tài khoản hợp lệ</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container" id="excelContainer">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="button" onclick="UpExcel()" class="btn btn-primary">Lưu người dùng</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- modal end -->
<!-- Modal -->
<div class="modal fade" id="UpExcelModal" tabindex="-1" aria-labelledby="UpExcelModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tải file Excel</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                <button type="button" class="btn btn-outline-secondary">
                    <input type="file" id="MultiImage" name="MultiImage" accept="image/*" multiple class="custom-file-upload">
                    <label for="MultiImage" class="custom-file-upload ">
                        <span>
                            <i class="bi bi-paperclip"></i>
                        </span>
                        <span>Chọn ảnh </span>
                    </label>
                </button>
                    <table class="table table-borderless" id="tableImage">
                    </table>
                    <button type="button" class="btn btn-outline-secondary" id="GetAnhDaiDienBtn" onclick="GetAnhDaiDien()">
                        Tải ảnh vào file excel
                    </button>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a  id="linkExcel" href="/admin/user/downloadexcel?state=0" class="btn btn-primary">
                    <span>
                        <i class="bi bi-cloud-arrow-down"></i>
                    </span>
                    <span>Tải file excel</span>
                </a>
            </div>
        </div>
    </div>
</div>

<script src="~/Assets/Admin/js/user.js"></script>

