<form action="/Admin/User/save" id="userForm" method="post">
    <div class="row my-2">
        <div class="col-12 fw-bold fst-italic">
            (*) Thông tin bắt buộc
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label class="form-label" for="HoTen">Họ và tên (*)</label>
                <input class="form-control" id="HoTen" name="HoTen" type="text" value="">
            </div>
            <div class="form-group">
                <label class="form-label" for="UserName">Tên tài khoản (*)</label>
                <input class="form-control" data-val="true" data-val-required="Vui lòng nhập tên tài khoản" id="UserName" name="UserName" type="text" value="">
            </div>
            <div class="form-group">
                <label class="form-label" for="Password">Password (*)</label>
                <input class="form-control" id="Password" name="Password" type="text" value="">
            </div>
            <div class="form-group">
                <label class="form-label" for="SDT">Số điện thoại (*)</label>
                <input class="form-control" id="SDT" name="SDT" type="text" value="">
            </div>
            <div class="form-group">
                <label class="form-label" for="Email">Email (*)</label>
                <input class="form-control" id="Email" name="Email" type="text" value="">
            </div>
        </div>
        <div class="col-lg-6  ">
            <div class="form-group">
                <label class="form-label" for="MaKieu">Kiểu người dùng (*)</label>
                @Html.DropDownList("MaKieu", (IEnumerable<SelectListItem>)ViewBag.listKnv, new { @class = "form-select" })
            </div>
            <div class="form-group">
                <label class="form-label" for="TrangThai">Trạng thái (*)</label>
                <select class="form-select" id="TrangThai" name="TrangThai">
                    <option value="0">Khóa</option>
                    <option value="1">Mở</option>
                </select>
            </div>
            <div class="text-center">
                <label for="AnhDaiDien" class=" fst-italic text-center form-label">
                    Ảnh đại diện
                    <i class="icon fa fa-camera border px-2 py-2" id="imgTemp" style="font-size: 200px; display: block;"></i>
                    <div class="d-flex justify-content-center">
                        <img id="userImg" src="" alt="" class="w-100 border px-2 py-2" style="display: none;">
                        <input type="file" id="AnhDaiDien" onchange=" loadFile(event)" name="AnhDaiDien" accept="image/*" class="custom-file-upload">
                    </div>
                </label>
            </div>
        </div>
    </div>
    <div class="dropdown-divider my-4">
    </div>
    <div class="row my-2">
        <div class="col-12 fw-bold fst-italic">
            Thông tin người dùng
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="GioiTinh">Giới tính</label>
                            <select class="form-select" id="GioiTinh" name="GioiTinh">
                                <option selected hidden value="0">Chọn giới tính</option>
                                <option value="2">Nam</option>
                                <option value="1">Nữ</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="NgaySinh">Ngày sinh</label>
                            <input class="form-control" id="NgaySinh" name="NgaySinh" type="date" value="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="form-label" for="DiaChi">Địa chỉ</label>
                <input class="form-control" id="DiaChi" name="DiaChi" type="text" value="">
            </div>
            <div class="form-group">
                <label class="form-label" for="QueQuan">Quê quán</label>
                <input class="form-control" id="QueQuan" name="QueQuan" type="text" value="">
            </div>
        </div>
        <div class="col-lg-6">

            <div class="form-group">
                <label class="form-label" for="TieuSu">Tiểu sử</label>
                <textarea class="form-control" cols="20" id="TieuSu" name="TieuSu" rows="5"></textarea>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-label" for="CongTy">Công ty</label>
                        <input class="form-control" id="CongTy" name="CongTy" type="text" value="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-label" for="ChucVu">Chức vụ</label>
                        <input class="form-control" id="ChucVu" name="ChucVu" type="text" value="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>